@import "tailwindcss";

/* Updated: 2025-07-23 - Force GitHub Pages refresh */

@theme {
  /* Colors */
  --color-background: #ff9ba1;
  --color-background-secondary: #6867ae;
  --color-button: #ac3037;

  /* Tailwind brand colors */
  --color-tailwind-dark: #0f172a;
  --color-tailwind-medium: #0ea5e9;
  --color-tailwind-light: #38bdf8;

  /* CSS brand colors */
  --color-css-dark: #0277bd;
  --color-css-medium: #039be5;
  --color-css-light: #4fc3f7;

  /* JavaScript brand colors */
  --color-js-dark: #f57c00;
  --color-js-medium: #ffd600;
  --color-js-light: #fff176;

  /* Custom Breakpoints */
  --breakpoint-xs: 350px;
  --breakpoint-mobile: 480px;
}

.social-button {
  @apply p-2 size-10 mobile:size-12 flex items-center justify-center rounded-full hover:scale-110 transition-transform;
}
